# Base de datos
DB_USER=egresado_user
DB_PASSWORD=egresado_password
DB_NAME=egresado_db

# JWT
JWT_SECRET=jwt_secret_egresados_2024_super_seguro
JWT_REFRESH_SECRET=jwt_refresh_secret_egresados_2024_super_seguro

# SMTP (opcional - para envío de correos)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=588
SMTP_USER=tu_correo
SMTP_PASS=tu_app_password
